<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="mavenProject.phpTravel.Listeners" />
	</listeners>
	<parameter name="option" value="true" />
	<test thread-count="5" name="Test">
		<classes>
			<class name="mavenProject.phpTravel.TestClass">
				<methods>
					<include name="compareExpectedAndActualTitle" />
					<include name="compareExpectedAndActualFeatureTitle" />
					<include name="compareExpectedAndActualProductTitle" />
					<include name="compareExpectedAndActualCompanyTitle" />
					<include name="moveToDemoWindow" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
